// MODAL
.modal-overlay
    opacity: 0
    visibility: hidden
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1000
    background: radial-gradient(50% 69.09% at 50% 50%, rgba(0, 0, 0, 0.3) 0%, rgba(65, 63, 63, 0.3) 51.04%, rgba(0, 0, 0, 0.3) 100%)
    transition: all 0.25s
    &--material
        background: rgba(0, 0, 0, 0.5)
    &--active
        opacity: 1
        visibility: visible

.modal
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1001
    display: none
    opacity: 0
    &--active
        display: block
        opacity: 1
    &__wrapper
        position: relative
        padding: 25px 48px 30px
        max-height: 100vh
        width: 705px
        background: $white-color
    &__title
        font-family: $ledger
        font-size: 24px
        font-weight: normal
        text-align: center
    &__content
        display: flex
        flex-wrap: wrap
        .modal__inner,
        .input-group
            width: 50%
            &:nth-child(2n)
                width: calc(50% - 24px)
                margin-left: 24px
    &__inner
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 15px
        padding: 4.5px 0
        opacity: 0.6
    &__key
        font-size: 12px
        font-weight: 500
    &__add
        display: block
        padding: 0
        width: 18px
        height: 18px
        font-size: 0
        background: transparent
        border: 0
        &:hover
            svg path
                fill: $primary-color
    &__save-btn
        padding: 12.5px
        margin: 36px auto 0
        min-width: 254px
        font-size: 14px
        color: $white-color
        background: $green-color
        &:hover,
        &:focus
            color: $white-color
            background: $green-hover-color
            border: 1px solid transparent

.modal-material
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1001
    display: none
    opacity: 0
    &--active
        display: block
        opacity: 1
    &__wrapper
        position: relative
        overflow: hidden
        width: 99vw
        height: 98vh
        background: $white-color
    &__top
        padding: 25px
        background: #F6F6F6
    &__inner
        display: flex
        align-items: center
        justify-content: space-between
        &--padding
            padding: 10px
    &__inner + &__inner
        margin-top: 10px
    &__subtitle
        font-size: 18px
        font-weight: 600
    &__close
        display: block
        padding: 0
        font-size: 0
        background: transparent
        border: 0
    &__content
        display: flex
        justify-content: center
        overflow-y: scroll
        padding: 17.5px 0 
        height: calc(100vh - 152px - 71px - 10px) // 152px - height top, 71px - height bottom, 10px - padding
    &__column
        padding: 0 25px
        text-align: center
    &__column + &__column
        border-left: 1px solid #F6F6F6
    &__title
        font-size: 24px
        font-weight: 600
        &--shoe,
        &--clothing
            &::before
                content: ''
                display: inline-block
                margin-right: 10px
                width: 24px
                height: 24px
                vertical-align: middle
                background-repeat: no-repeat
                background-size: cover
                background-position: center center
        &--shoe
            &::before
                background-image: url(../img/dist/sprite.svg#icon-shoe-size)
        &--clothing
            &::before
                background-image: url(../img/dist/sprite.svg#icon-clothing-size)
    &__list
        padding: 15px 0
        margin-top: 10px
        min-width: 275px
    &__item + &__item
        margin-top: 10px
    &__btn
        position: absolute
        left: 0
        bottom: 0
        display: block
        padding: 25px
        width: 100%
        font-size: 18px
        font-weight: 600
        text-align: center
        background: #EDFFEA
        border: 0
        span
            font-weight: bold
            text-decoration: underline

// MEDIA QUARIES
@media (max-width: 767px)
    .modal
        left: 0
        right: 0
        transform: translateY(-50%)
        &__wrapper
            width: 100%
        &__content
            .modal__inner,
            .input-group
                width: 100%
                &:nth-child(2n)
                    width: 100%
                    margin-left: 0
    .modal-material
        top: 0
        right: 0
        bottom: 0
        left: 0
        transform: none
        &__wrapper
            overflow-y: scroll
            overflow-x: hidden
            width: 100%
            height: 100%
            height: calc(var(--vh, 1vh) * 100)
        &__subtitle
            max-width: 60%
        &__content
            display: block
            overflow: visible
        &__inner--padding
            padding: 0
        &__inner + &__inner
            margin-top: 15px
        &__btn
            position: static
        &__title
            display: flex
            align-items: center
            padding: 15px 0
            width: 100%
            font-size: 18px
            font-weight: 500
            text-align: left
            &::before
                display: block
                margin-right: 15px
                max-width: 18px
                max-height: 18px
                min-width: 18px
                min-height: 18px
                width: 18px
                height: 18px
            &::after
                content: ''
                display: block
                margin-left: auto
                width: 32px
                height: 32px
                vertical-align: middle
                background-color: $bg-grey
                background-image: url(../img/dist/sprite.svg#icon-close-2)
                background-repeat: no-repeat
                background-size: 12px
                background-position: center center
        &__column
            padding: 0 15px
            &--hidden
                background: $bg-grey
                .modal-material__title
                    &::after
                        background-color: $white-color
                        background-image: url(../img/dist/sprite.svg#icon-right-menu)
                .modal-material__list
                    display: none
        &__column +  &__column
            margin-top: 15px

@media (min-width: 576px) and (max-width: 767px)
    .modal-material
        &__btn
            margin: 0 -25px -25px
            width: calc(100% + 50px)

@media (max-width: 575px)
    .modal
        &__wrapper
            padding: 25px 30px 30px
    .modal-material
        &__top
            padding: 15px
        &__btn
            padding: 15px
            margin: 0 -15px -15px
            width: calc(100% + 30px)
        &__list
            margin-top: 15px